/* scales */
$scales: (
    xxxxs: 0.402,
    xxxs: 0.482,
    xxs: 0.578,
    xs: 0.694,
    sm: 0.833,
    base: 1,
    md: 1.2,
    lg: 1.44,
    xl: 1.728,
    xxl: 2.074,
    xxxl: 2.488,
    xxxxl: 2.986
);

/* spaces */

$spaces: (
    n: 0,
    xxxxs: 0.125rem,
    xxxs:  0.25rem,
    xxs:   0.375rem,
    xs:    0.5rem,
    sm:    0.75rem,
    base:  1rem,
    md:    1.25rem,
    lg:    2rem,
    xl:    3.25rem,
    xxl:   5.25rem,
    xxxl:  8.5rem,
    xxxxl: 13.75rem,
);

/*media quaries breakpoints */

$breakpoints: (

    // Small tablets and large smartphones (landscape view)
    sm: 32rem,

    // Small tablets (portrait view)
    md: 48rem,

    // Tablets and small desktops
    lg: 64rem,

    // Large tablets and desktops
    xl: 80rem,

    //desktops
    xxl: 90rem

);

/* widths for max-width wrapper */

$max-widths: (
    default: 70rem,
    md: 75rem,
    full: 100%,
    lg: 80rem,
    sm: 65rem,
    xs: 60rem
);

/* auto width with align center*/

$view-widths: (
    default: 55ch,
    md: 60ch,
    full: 100%,
    lg: 65ch,
    sm: 50ch,
    xs: 45ch
);


/* measures */

$measures: (
    default: 100%,
    xxl: 90%,
    xl: 80%,
    lg: 70%,
    md: 50%,
    sm: 40%,
    xs: 30%,
    xxs: 20%
);

$radius: (
    n: 0,
    xs: .125,
    sm: .25,
    md: .5,
    lg: 1,
    xl: 2,
    full: 100,
    pill: 100
);

$borders: (
    default: 1px,
    n: 0,
    xs: .125,
    sm: .25,
    md: .5,
    lg: 1,
    xl: 2
);

$colors: (
    white: #ffffff,
    black: #000000,
    near-black: #111111,
    dark-gray: #333333,
    gray: #777777,
    light-gray: #eeeeee,
    mid-gray: #555555,
    moon-gray: #cccccc,
    silver: #999999,
    light-silver: #aaaaaa,
    dark-red: #e7040f,
    red: #ff4136,
    light-red: #ff725c,
    orange: #ff6300,
    gold: #ffb700,
    yellow: #FFFF00,
    light-yellow: #fbf1a9,
    dark-yellow: #ffde37,
    purple: #5e2ca5,
    light-purple: #a463f2,
    dark-pink: #d5008f,
    hot-pink: #ff41b4,
    pink: #ff80cc,
    light-pink: #ffa3d7,
    dark-green: #137752,
    green: #19a974,
    light-green: #9eebcf,
    navy: #001b44,
    dark-blue: #00449e,
    blue: #357edd,
    light-blue: #96ccff,
    lightest-blue: #cdecff,
    washed-blue: #f6fffe,
    washed-green: #e8fdf5,
    washed-yellow: #fffceb,
    washed-red: #ffdfdf,
    transparent: transparent
);


/* global lists */

/* border-positions */
$border-positions: border, border-top, border-bottom, border-left, border-right;

/* border-styles */
$border-styles: solid, dashed, dotted, double, ridge, none;

/* radius-positions */
$radius-positions: all, top-left, top-right, bottom-right, bottom-left;

//border-top-left-radius border-top-right-radius border-bottom-right-radius border-bottom-left-radius

/* global variables */

//units for types
$units: rem;

//default numbers of columns in grids
$grid-cols: 12;

//gap for clamp tool
$clamp-gap: 1;

//gap for wedge tool
$wedge-gap: 1;
