/* bricks */

.c--bricks {
    display: grid;
    gap: 4vmin;
    grid-auto-rows: minmax(10rem, auto); 
    grid-template-columns: repeat(4, 1fr);
}
    
.c--bricks > *:nth-child(9n+1) {
    grid-column: span 4; 
}

.c--bricks > *:nth-child(9n+2),
.c--bricks > *:nth-child(9n+8),
.c--bricks > *:nth-child(9n+3),
.c--bricks > *:nth-child(9n+9) {
    grid-column: span 2; 
    
}

.c--bricks > *:nth-child(9n+5),
.c--bricks > *:nth-child(9n+6) {
    grid-column: span 3; 
}

/* book */
.c--book {
    display: grid;
    gap: 4vmin;
    grid-auto-rows: minmax(10rem, auto); 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
  
.c--book > *:first-child {
    grid-column: span 2;
    grid-row: span 2;
}

/* flow */

.c--flow {
    display: grid;
    gap: 4vmin;
    grid-auto-rows: minmax(10rem, auto); 
    grid-template-columns: repeat(6, 1fr);
}

.c--flow > * {
    grid-column: span 2; 
}

.c--flow > *:nth-child(8n+1), 
.c--flow > *:nth-child(8n+2) {
    grid-column: span 3; 
}

/* market */

.c--market {
    display: grid;
    gap: 4vmin;
    grid-auto-rows: minmax(20rem, auto); 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(10rem, auto)); 
}

.c--market > *:nth-child(1) {
    grid-column: span 1;
    grid-row: span 2;
}

.c--market > *:nth-child(7) {
    grid-column: span 1;
    grid-row: span 2;
}

.c--market > *:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
}

.c--market > *:nth-child(8) {
    grid-column: span 1;
    grid-row: span 2;
}

.c--market > *:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
}

.c--market > *:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.c--market > *:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1;
}

.c--market > *:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
