* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.section div {
    background: #c9c9c9;
    border: 1px solid #9f9f9f;
}